html,
body {
    height: 100%;
    font-size: 16px;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;

    .navbar-collapse {
        .nav {
            & > li > a {
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }
}

.btn {
    border-radius: 0;
}

.footer {
    min-height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

@media (max-width: 768px) {
    body {
        padding-bottom: 520px;
    }
}

@media (min-width: 769px) and (max-width: 991px) {
    .container {
        width: 100%;
    }
}

@media (min-width: 992px) and (max-width: 1999px) {
}

@media (min-width: 1200px) {
}